<div class="header flex-column-mobile">
    <div>
        <h2 class="center">Contacts List</h2>
    </div>
    <div class="flex-row-mobile d-flex">
        <div class="search">
            <mat-form-field class="mb d-flex">
                <input matInput placeholder="Contact Name or Number" (keyup)="searchContacts($any($event.target).value)" />
                <mat-icon>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button type="submit" color="primary" (click)="addContact()">
                <mat-icon>add</mat-icon>
                Add <span class="d-none-mobile">contact</span>
            </button>
        </div>
    </div>
</div>
<div class="list d-flex flex-column">
    <div *ngFor="let contact of contacts | async; let i=index" class="card mb flex-1">
        <mat-card class="example-card">
            <mat-card-title-group>                
                    <a [href]="'tel:' + contact.contactNumber">         
                        <div class="circle mr">                        
                            <mat-icon>phone</mat-icon>                        
                        </div>
                    </a>
                    <div class="flex-1 ml">
                        <mat-card-title>{{ contact.contactName }}</mat-card-title>
                        <mat-card-subtitle>{{ contact.contactNumber | phone}}</mat-card-subtitle>
                    </div>
                    <div>
                        <mat-icon (click)="deleteContact(contact)">delete</mat-icon>
                    </div>
                
            </mat-card-title-group>
        </mat-card>
    </div>   
</div>


