/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; display: inline-table; width: 100%; }

.container{
    margin: 50px auto;
}
.form-container{
    display: block;
    margin: auto;
    max-width: 300px;
    padding: 50px;
    border-radius: 15px;
    background-color: #e6efef;
    mat-form-field,button{
        width: 100%;
    }
    .signup{
        margin: 15px auto;
    }
    .mat-form-field-appearance-legacy {
        .mat-form-field-label {
            color: rgb(0, 0, 0, .5);
        }
        .mat-form-field-underline {
            background-color: rgba(0, 0, 0, .3);
        }        
    }
    .mat-form-field-invalid{
        .mat-form-field-label {
            color: #f44336;
        }
    }  
    .mat-stroked-button{
        &:not(.mat-option-disabled){
            border-color: #7b1fa2;
        }
        
    }   
}
.form-container-item {
    max-width: 500px!important;
}
.mat-menu-content{
    padding: 0px!important;
}
.mat-menu-panel {
    min-height: inherit!important;
    min-width: 145px!important;
}

.center{
    display: flex;
    justify-content: center;
}

.text-center{
    text-align: center;
}

.mt{
    margin-top: 15px;
}
.mb{
    margin-bottom: 15px;
}
.mr{
    margin-right: 15px!important;
}
.ml{
    margin-left: 15px!important;
}
.m-15{
    margin: 15px!important;
}
@media screen and (max-width:500px) {
    .features{
        display: flex;
        flex-direction: column;
        .card{
            width: 100%;
            cursor: pointer;
        }
    }
    table, .header, .list{
        width: calc(100vw - 30px);
        margin: 15px;
    }
    .flex-row-mobile{
        flex-direction: row!important;
        margin-bottom: 15px;
        width: 100%;
    }
    .flex-column-mobile{
        flex-direction: column!important;
    }    
    .d-none-mobile{
        display: none;
    }
    .mat-form-field-infix {
        display: flex!important;
        border-top: none!important;
    }
}
@media screen and (min-width:501px) {
    .features{
        display: flex;    
        flex-direction: row;
        .card{           
            max-width: 500px;
            min-width: 300px;
            margin-right: 15px;
            cursor: pointer;
        }
    }
    table, .header, .list{
        width: 75vw;
        min-width: 500px;
        margin: auto;
    }
    .mat-form-field-infix {
        display: flex!important;
        border-top: none!important;
        font-size: 13px;
        .mat-icon {
            color:#cccccc;
        }
    }
}

.mat-header-cell, .mat-cell{
    padding: 15px!important;
}
.header, .footer-btn, .list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.footer-btn{
    button{
        width: 25%;
    }
}
.mat-select-value, .mat-select-arrow{
    color: rgb(0, 0, 0, .5);
}
.mat-primary{
    .mat-option{
        &.mat-selected{
            &:not(.mat-option-disabled){
                color: rgb(255, 255, 255, .8)!important;
            }
        }
    }
} 
.hidden{
    display: none!important;
}
.d-flex{
    display: flex;
}
.flex-1{
    flex: 1;
    width: 100%;
}
.flex-column{
    flex-direction: column;
}
.status{
    border: solid 1px #fff;
    width: 10px;
    height: 11px;
    border-radius: 50%;
    margin: 2px 5px;
    &.opened {    
        background: green;
    }
    &.pending {    
        background: orange;
    }
    &.closed {    
        background: red;
    }
}
.search{
    flex: 1;
    text-align: right;
    margin-right: 15px;
    display: flex;
    height: 36px;
    .mat-form-field-appearance-legacy {       
        margin-right:15px; 
        .mat-form-field-label {
            color: rgb(0, 0, 0, .5);
        }
        .mat-form-field-underline {
            background-color: rgba(0, 0, 0, .3);
        }  
        
        .mat-form-field-label {
            top: 23px!important;
        }
        
    }
    .mat-form-field-invalid{
        .mat-form-field-label {
            color: #f44336;
        }
    }  
    .mat-stroked-button{
        &:not(.mat-option-disabled){
            border-color: #7b1fa2;
        }
        
    }   
    form{
        display: flex;
        height: 36px;
    }
}

.circle{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    .mat-icon{
        color:#424242;
    }
}
.list{
    a{
        text-decoration: none;
    }
    .card{
        .flex-1{
            height: 40px;
        }
    }
    .mat-card-title {
        font-size: 18px;
    }
}
.modal{
    padding: 30px 60px;
    mat-form-field, button{
        width: 100%;
    }    
    .mat-form-field-appearance-legacy {
        .mat-form-field-label {
            color: rgb(0, 0, 0, .5);
        }
        .mat-form-field-underline {
            background-color: rgba(0, 0, 0, .3);
        }        
    }
    .mat-form-field-invalid{
        .mat-form-field-label {
            color: #f44336;
        }
    }  
    .mat-stroked-button{
        &:not(.mat-option-disabled){
            border-color: #7b1fa2;
        }
        
    }   
}
.ngneat-dialog-content{
    max-width: 90%!important;
}
.ngneat-dialog-backdrop {
    padding: inherit!important;
}
.flex-column-mobile{
    margin-bottom: 15px;
}